* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  position: relative;
  width: 100%;
  font-family: 'Pacifico', sans-serif;
}

body::before {
  content: "";
  background-image: url('../4152.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 40%;
  position: absolute;
  top: -50px;
  right: 0;
  bottom: -15px;
  left: 0;
  opacity: 0.9;
}

main {
  position: relative;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #000;
  border: 1px solid #000;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #441201;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #180600;
}

.header {
  font-family: 'Italianno', sans-serif;
  font-size: 5rem;
  color: #f5f0e1;
  margin: 2.5rem 0 2.5rem 0;
  text-align: center;
}

.scores-container {
  margin: 0 1rem 0 1rem;
  display: flex;
  flex-direction: column;
}

.scores-header-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.scores-header-div h2 {
  font-size: 2rem;
  color: #ffc13b;
  font-family: 'Pacifico', sans-serif;
}

.refresh-button {
  padding: 0 0.25rem;
  border: 2px solid #f5f0e1;
  border-radius: 45%;
  background-color: #f5f0e1;
  color: #bf3f14;
  box-shadow: 2px 2px 5px 15px #f5f0e1;
  font-size: 1.3rem;
  font-weight: bold;
  font-family: 'Italianno', sans-serif;
  height: 1.75rem;
}

.scoreboard {
  border: 5px solid #000;
  border-radius: 5%;
  height: 55%;
  overflow-y: scroll;
  font-family: 'Italianno', sans-serif;
  color: #bf3f14;
  font-size: 2rem;
}

.players-div {
  display: flex;
  justify-content: space-between;
  padding: 0.825rem 0.625rem;
  font-weight: bold;
}

.players-div:nth-child(even) {
  background-color: #f5f0e1;
  color: #441201;
}

.players-score {
  text-align: start;
}

#leaderboard-forms h2 {
  text-align: center;
  margin-top: 2rem;
  font-size: 2rem;
  color: #ffc13b;
}

.form-container {
  text-align: center;
  margin-top: 1rem;
}

input {
  margin-bottom: 0.5rem;
  border: 3px solid #441201;
  border-radius: 50%;
}

#name,
#score {
  font-size: 0.95rem;
  padding: 0.5rem;
  color: #bf3f14;
  text-align: center;
}

#name::placeholder,
#score::placeholder {
  color: #bf3f14;
  font-weight: bolder;
  font-family: 'Pacifico', sans-serif;
  text-align: center;
}

.submit-btn {
  padding: 0 0.25rem;
  border: 2px solid #f5f0e1;
  border-radius: 45%;
  background-color: #f5f0e1;
  color: #bf3f14;
  box-shadow: 2px 2px 5px 3px #f5f0e1;
  font-size: 1.3rem;
  font-weight: bold;
  font-family: 'Italianno', sans-serif;
  height: 1.75rem;
  text-align: end;
  transform: translateX(4.38rem);
}

.message {
  background-color: #f5f0e1;
  color: #441201;
  margin-top: 1rem;
  font-size: 0.9rem;
  font-weight: bold;
}

@media only screen and (min-width: 768px) {
  body {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  body::before {
    content: "";
    background-image: url('../4152.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 40%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.9;
  }

  main {
    position: relative;
  }

  .header {
    text-align: center;
    margin-left: 2rem;
  }

  .general-container {
    display: flex;
  }

  .scores-container {
    margin: 0 4rem 0 4rem;
  }

  .scores-header-div {
    gap: 5rem;
  }
}
